.hero {
  position: relative;
  height: 100vh;
  background: url("img/jett_valorant_drawn_by_edpan.jpg") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

/* Profile image styling */
.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.8);
}

/* Text styling */
.hero-title {
  font-family: "Indie Flower", serif;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(255, 255, 255, 0.848), 0 0 30px rgba(255, 255, 255, 0.6);
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 15px;
  color: #47eadc;
  /* Simulate an outline by applying shadows on multiple sides */
  text-shadow: 
  -1px -1px 0 #000,
   1px -1px 0 #000,
  -1px  1px 0 #000,
   1px  1px 0 #000;
}

.hero-subtitle {
  font-style: italic;
  font-size: 1.2rem;
  color: black;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
  font-weight: bold;
}

/* Skills Background */
#skills-section {
  background-image: url('https://www.leonetang.com/cdn/shop/files/Jett_Kunai_3_1500x.jpg?v=1739427027'); 
  color: #47eadc;
  font-style: strong;
  background-size: cover;     
  background-repeat: no-repeat; 
  background-position: center; 
  padding: 60px 0;         
  text-shadow: 
  -1px -1px 0 #000,
   1px -1px 0 #000,
  -1px  1px 0 #000,
   1px  1px 0 #000;
}

/* Footer styling */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #0f1b20;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .hero-title {
    font-size: 2rem;
  }
  .hero-subtitle {
    font-size: 1rem;
  }
  #skills-section {
    background-image: url('img/jett_valorant_drawn_by_liang_xing.jpg'); /* Image for smaller screens */
    color: white;
  }
}

@media (max-width: 576px) {
  .profile-img {
    width: 80px;
    height: 80px;
  }
  .hero-title {
    font-size: 1.75rem;
  }
  .hero-subtitle {
    font-size: 0.9rem;
  }
}

/* Carousel hover text */
.carousel-caption {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.carousel-item:hover .carousel-caption {
  opacity: 1;
}

/* Setting the carousel items */
.carousel-item {
  height: 325px;
  position: relative;
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#pics-section {
  background: linear-gradient(to bottom, #4E73A8, #ffffff);
}

/* Mission section: white at the top, transitioning to blue at the bottom */
#mission-section {
  background: linear-gradient(to bottom, #ffffff, #4E73A8); 
}

/* For the contact */
.contact-icon {
  color: #333; /* Default icon color */
  transition: color 0.3s ease;
}

.contact-icon:hover {
  color: #2ecee0; /* New color on hover */
}
